
{% block title %}
	 Rutas
{% endblock %}

{% block head %}
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
	<meta charset="utf-8">
	
	<style>
	  html, body {
		height: 100%;
		margin: 0;
		padding: 0;
	  }
	  #map {
		height: 50%;
		width: 50%;
	  }
	</style>

{% endblock %}

{% block content %}
	<div class="row content-header">
		<div class="container">
		<div id="card" class="card medium col s12 m12 l12">
		<div class="col s5">
			<h1>{{ ruta.nombre }}</h1>
			
			<div class="info">
				<p><b>Numero de la ruta:</b> {{ rutas.numero }}</p>
				<p><b>Recorrido:</b> {{ rutas.recorrido }}</p>
				<p><b>Tipo de bus:</b>  {{ rutas.tipo }}</p> 				
			</div>
			<div>
				{% for l in rutas.Empresas.all %}
				<p>Empresas:</p>
				<span class="label label-info">{{ l.nombre }}</span>
				{% endfor %}
			</div>

		</div>
		<div class="col s4"><br>
			{% if rutas.imagen %}
				<img src="/media/{{ ruta.fotoRuta }}" width ="380px" heigth="300px">
			{% endif %}	
			<div>
					<p><b>Lugares:</b></p>
					{% for a in rutas.lugares.all %}
						
						<span class="label label-info">{{ a.nombre }}<br></span>
					{% endfor %}

					<p>POOOOO</p>

					{% for a in lugares %}
						
						<span class="label label-info">{{ a.nombre }}{{ latitud }}{{ longitud }}<br></span>
						<br>
					{% endfor %}
			</div>
		</div>
	<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	<div id="map"></div>
	<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	<a style="btn" class="btn btn-primary boton" href="/"><b>Volver</b></a>
	</div>
</div>
</div>
{% endblock %}

{% block script %}
	<script>

	
	var cont = {{cont}};
	var cont2 = 0;


	var longitud1 = parseFloat({{longitud.0}});
	var longitud2 = parseFloat({{longitud.1}});
	var longitud3 = parseFloat({{longitud.2}});
	var longitud4 = parseFloat({{longitud.3}});
	var longitud5 = parseFloat({{longitud.4}});
	var longitud6 = parseFloat({{longitud.5}});
	var longitud7 = parseFloat({{longitud.6}});
	var longitud8 = parseFloat({{longitud.7}});
	var longitud9 = parseFloat({{longitud.8}});

	var latitud1 = parseFloat({{latitud.0}});
	var latitud2 = parseFloat({{latitud.1}});
	var latitud3 = parseFloat({{latitud.2}});
	var latitud4 = parseFloat({{latitud.3}});
	var latitud5 = parseFloat({{latitud.4}});
	var latitud6 = parseFloat({{latitud.5}});
	var latitud7 = parseFloat({{latitud.6}});
	var latitud8 = parseFloat({{latitud.7}});
	var latitud9 = parseFloat({{latitud.8}});
	//var longitud = new Array();
	//longitud = {{longitud.0}};
	//for (var i = 0; i < cont; i++){
	//	longitud[i]= {{longitud.}};
	//}

	/*do{

		if (cont2 == 0) {
			longitud[cont2]= {{longitud.0}};
		}

		if (cont2 == 1) {
			longitud[cont2]= {{longitud.1}};
		}
		if (cont2 == 2) {
			longitud[cont2]= {{longitud.2}};
		}
		if (cont2 == 3) {
			longitud[cont2]= {{longitud.3}};
		}
		if (cont2 == 4) {
			longitud[cont2]= {{longitud.4}};
		}
		if (cont2 == 5) {
			longitud[cont2]= {{longitud.5}};
		}
		if (cont2 == 6) {
			longitud[cont2]= {{longitud.6}};
		
		

		cont2 = cont2+1;
	} while (cont2 < cont);
	*/
	
	
	//document.write({{longitud.0}});
	document.write(longitud1,"  ",cont,"    ",cont2);
	
	function initMap() {
	  var map = new google.maps.Map(document.getElementById('map'), {
		zoom: 16,
		center: {lat: 2.4831121, lng: -76.561826},
		mapTypeId: google.maps.MapTypeId.TERRAIN
	  });


	  var flightPlanCoordinates = [
		
		//for (var i = 0; i < 3; i++){
		//	{lat: 2.464353, lng: -76.598257},
		//}
		//{lat: 2.460313, lng: ({{longitud.0}}) },
		
		{lat: latitud1, lng: longitud1},
		{lat: latitud2, lng: longitud2},
		{lat: latitud3, lng: longitud3},
		{lat: latitud4, lng: longitud4},
		{lat: latitud5, lng: longitud5},
		{lat: latitud6, lng: longitud6},
		{lat: latitud7, lng: longitud7},
		{lat: latitud8, lng: longitud8},
		
		//{lat: latitud1, lng: longitud1},
		//{lat: 2.464353, lng: -76.598257},
		//{lat: 2.464353, lng: -76.598257},
		//{lat: 2.464353, lng: -76.598257},
	  ];

	  var flightPath = new google.maps.Polyline({
		path: flightPlanCoordinates,
		geodesic: true,
		strokeColor: '#FF0000',
		strokeOpacity: 1.0,
		strokeWeight: 2
	  });

	  flightPath.setMap(map);
	}

	</script>
	<script async defer
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDvAPq3o5fKsuf-xVXa1GerYQQhETh_q34&signed_in=true&callback=initMap"></script>
{% endblock %}