{% extends 'base.html' %}
{% block navbar %}
{% endblock %}
{% block content %}

{% if validlink %}
<div class="row content-header">
	<div class="container">
      <div  id="contenedor" class="col s12 m6 l12">
        <div id="car" class="card">
			<h3>Nueva contraseña</h3>
			<form method="post">
				{% csrf_token %}

				{{ form.new_password1.errors }}
				<label for="id_new_password1">Nueva contraseña:</label>
				{{ form.new_password1 }}

				{{ form.new_password2.errors }}
				<label for="id_new_password2">Confirme contraseña:</label>{{ form.new_password2 }}
				<b><input type="submit" value="Cambiar mi contraseña" /></b>
			</form>

			{% else %}
			<h1 class="text-center">ENLACE INVALIDO: ESTEE ENLACE YA HA SIDO UTILIZADO</h1>

			{% endif %}
		</div>
	   </div>
	</div>
</div>
{% endblock %}